/* Custom color theme properties */
:root {
  --f7-theme-color: #4c00ff;
  --f7-theme-color-rgb: 76, 0, 255;
  --f7-theme-color-shade: #4000d6;
  --f7-theme-color-tint: #6929ff;
}

/* Your app custom styles here */