/* Custom color theme properties */
:root {
  --f7-theme-color: #4c00ff;
  --f7-theme-color-rgb: 76, 0, 255;
  --f7-theme-color-shade: #4000d6;
  --f7-theme-color-tint: #6929ff;
}

/* Your app custom styles here */

//Modificaciones generales al tema

.list {
  margin-top: calc(var(--f7-list-margin-vertical) - 10px);
}

//Clases custom
.enc-logo {
  font-family: 'Grandstander', sans-serif;
  font-weight: 200 !important;
  color: var(--f7-theme-color-shade);
  img {
    height: var(--f7-navbar-title-line-height);
  }
  .strong {
    font-weight: 400;
  }
}

.enc-col-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
